body{
    background: #fff;
    color: #222;
    font-family: arial,sans-serif;
    height: 100%;
    margin: 0;
}

.lineForm{
    position: absolute;
    top: 311px;
    width: 100%;
}

.lineTopLinks{
    position: absolute;
    top: -295px;
    width: 100%;
    font-size: 13px;
}

.navbar{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: flex-end;
}

.topLinks{
    padding-right: 15px;
    display:flex;
}

.topImages{
    min-width: 90px;
    display: flex;
}

.gmailImages{
    display: inline-block;
    padding-left: 15px;
}

.gmailImages a{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    line-height: 24px;
    outline: none;
}

.icon img{
    cursor: pointer;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

.notifications{
    padding: 0 0 0 15px;
}

.notifications img{
    cursor: pointer;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

.signin{
    display: flex;
}

.signin img{
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.googleImage{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 109px;
    height: 92px;
    width: 272px; 
}

.googleLogo{
    margin-top: 89px;
}

.searchForm {
    display: flex;
    margin: 0 auto;
    height: 44px; 
    width: 584px;
    margin-top: 27px;
    background: #fff;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    border: .5px solid #fff;
    font-size: 16px;
    padding-left: 25px;
}


.searchForm:focus{
    outline: none;
}


.searchMicrophone{
    margin-left: 1215px;    
}

.searchMicrophone img{
    height: 24px;
    width: 18px;
    position: absolute;
    margin-top: 10px;
    cursor: pointer;
}

.googleButtons {
    margin-top: 20px;
    height: 38px;
    background-color: #fff;
}

.btn{
    color: rgb(117,117,117);
    font-size: 13px;
    font-weight: 700;
    height: 36px;
    padding: 0 15px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    margin: 11px 5px;
    border-radius: 2px;
}

.btn:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}


#offered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#offered p{
    margin-top: 38px;
    text-align: center;
    font-size: small;
}

#offered p a{
    padding: 0 3px;
    color: #609;
}

footer {
    color: rgba(0, 0, 0, 0.54);
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.graybar {
    background-color: #f2f2f2;
    line-height: 40px;
}

.country, .links {
    display: block;
    border-top: 1px solid #e4e4e4;
    height: 40px;
}

.country {
    font-size: 15px;
    padding-left: 30px;
}


.rightLinks{
    float: right;
    margin-right: 10px;
    font-size: 10pt;
}

.leftLinks{
    float: left;
    font-size: 10pt;
    padding-left: 30px;
}

.separateLink {
    padding-left: 23px;
}

a{
    color: #666666;
    text-decoration: none;
}

.separateRightLink{
    margin-right: 20px;
 }